<body>
        <div class="container-fluid">
            <div class="w3-row">
                <div class="col-sm-offset-3 col-sm-6">
                    <div class="text-center">
                        <br />
                        <br />
                        <br />
                        <br />
                        <h3>
                            Skill Set
                        </h3>
                        <h4>
                            C#, ASP.NET Core, .Net Framework, Entity Framework, MVC, ASP.NET Identity, Javascript, Angular.Js, Razor, HTML5, CSS, Bootstrap, SQL Server/SQLite, with a strong desire for more.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
</body>