<html>
<body>
    <br />
    <br />
    <div class="container-fluid">
        <div class="w3-row">
            <div class="col-sm-6">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <img class="img-responsive" src="~/imgs/cutmypic (2).png" alt="Charleston Planner">
            </div>


            <div class="col-sm-6">
                <h1>
                    <strong>
                        The Charleston Planner
                    </strong>
                </h1>
                <h4>
                    The Charleston Planner is a web application catering to locals and/or tourists interested in social events
                    around Charleston, SC. Anonymous users can see a list of local events through our API. Anonymous users can search through events by keyword. Users can
                    click on a title of an event to see a detailed view of event information. Authenticated
                    users register with name, email, and password, and they login with email and password.
                    Authenticated users can mark events they are interested in as well as see the list of events
                    they have already marked. They can add new events through a form to the database. This is a team project, I am the back-end engineer.
                </h4>
                <h3>
                    Technologies Used:
                </h3>
                <h4>
                    .NET Core, C#, SQLite, MVC and Entity Framework
                    <a href="https://github.com/mackenzielewerke/CharlestonPlanner">
                        <img src="~/imgs/cutmypic (5).png" style="width:30px;height:30px;" />
                    </a>
                </h4>


            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="w3-row">
            <div class="col-sm-6">
                <br />
                <h1>
                    <strong>
                        The Wildlife Conservation
                    </strong>
                </h1>
                <h4>
                    The Wildlife Conservation is a mobile-first web application catering to any and all wildlife reserves, funds, and conservations around
                    the world. Unauthenticated users can view all conservations or register their email and password to create an account and login to complete their conservation form
                    to save into the database and return on the website. They enter in all the information for their reserve including the name, included habitats, and
                    animals which reside in said habitats. Users can create multiple conservations which can hold different habitats and animals for each reserve.
                </h4>
                <h3>
                    Technologies Used:
                </h3>
                <h4>
                    .NET Core, C#, SQLite, MVC and Entity Framework, HTML5, CSS3, Bootstrap, Angular.Js
                    <a href="https://github.com/mackenzielewerke/conservation">
                        <img src="~/imgs/cutmypic (5).png" style="width:30px;height:30px;" />
                    </a>
                </h4>
            </div>



            <div class="col-sm-6">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <img class="img-responsive" src="~/imgs/cutmypic (4).png" alt="Wildlife Conservation" />
            </div>
        </div>
    </div>
</body>
</html>